@import './variables.css';
@import './Card/card.css';

.hero {
  background-color: var(--secondary-purple);
  height: 32rem;
  display: flex;
  margin-top: 3.2rem;
  border-radius: 5px;
  overflow: hidden;
}

.hero_text {
  padding: 2rem 3rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero_text h1 {
  font-size: 3rem;
  font-weight: 600;
}

.hero_image {
  width: 100%;
  height: 100%;
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products {
  margin-top: 4rem;
}

.products h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

@media screen and (width <= 450px) {
  .hero {
    flex-direction: column;
    height: max-content;
  }
  .hero_text {
    width: 100%;
    gap: 1rem;
  }
  .hero_text h1 {
    font-size: 1.6rem;
  }
  .hero_image {
    height: 12rem;
    width: 100%;
  }
}
@media screen and (451px <= width <= 599px) {
  .hero {
    flex-direction: row;
    height: 16rem;
  }

  .hero_text h1 {
    font-size: 1.8rem;
  }
}
@media screen and (600px <= width <= 799px) {
  .hero {
    height: 18rem;
  }

  .hero_text h1 {
    font-size: 2rem;
  }
}
