@import './variables.css';
@import './Card/card.css';

.hero {
  background-color: var(--secondary-purple);
  height: 24rem;
  display: flex;
  margin-top: 3.2rem;
  border-radius: 5px;
  overflow: hidden;
}

.hero_text {
  padding: 2rem 3rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero_text h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

.hero_image {
  width: 55%;
  height: 100%;
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products {
  margin-top: 4rem;
}

.products h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
