@import './variables.css';
@import './Card/card.css';

.product_info {
  display: flex;
  gap: 3.2rem;
  margin-top: 3.2rem;
  margin-bottom: 6.4rem;
  height: 55rem;
  justify-content: space-between;
}

.other_images {
  width: 10%;
  min-width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other_images .image_container {
  height: 8rem;
  cursor: zoom-in;
  border-radius: 5px;
}

.main_image .image_container {
  min-width: 56rem;
  height: 100%;
  cursor: zoom-in;
  border-radius: 5px;
}

.infos {
  margin-top: 2rem;
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: 2.4rem;
}

.brand_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.brand_info h2 {
  font-size: 2rem;
  font-weight: 600;
}
.brand_info h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.infos h2 {
  font-size: 2rem;
  font-weight: 600;
}
.infos h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.avaliacao {
  display: flex;
  gap: 1rem;
}

.stars {
  display: flex;
  gap: 0.2rem;
}

.stars .star {
  width: 2rem;
  height: 2rem;
  background-image: url('../assets/star_gray.svg');
  background-size: cover;
}

.star.colored {
  background-image: url('../assets/star_golden.svg');
}

.descricao p {
  margin-top: 1.4rem;
  font-size: 1.6rem;
  text-align: justify;
}

.sizes {
  display: flex;
  gap: 1rem;
}

.size {
  width: 4rem;
  height: 4rem;
  background-color: var(--dark-purple);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.size:hover {
  scale: 1.05;
  background-color: var(--tertiary-purple);
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.size span {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
}

.cep_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submit_container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.submit_container input {
  width: 50%;
  height: 3.5rem;
  outline: none;
  padding: 1rem;
}

.submit_container input:focus {
  outline: 3px solid var(--tertiary-purple);
  border-radius: 4px;
}

.submit_container button {
  width: 50%;
  border-radius: 8px;
}

.submit_container button:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.infos .primary_button {
  margin-top: auto;
  height: 5rem;
  font-size: 1.6rem;
}

.other_products h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

@media screen and (width <= 1100px) {
  .product_info {
    height: max-content;
    flex-direction: column;
  }

  .other_images {
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }

  .other_images .image_container {
    width: calc(100% / 5);
    height: 10rem;
  }

  .main_image .image_container {
    min-width: auto;
    height: 56rem;
    cursor: zoom-in;
  }

  .infos {
    width: 100%;
  }
}

@media screen and (width <= 599px) {
  .product_info {
    gap: 2rem;
  }
  .main_image .image_container {
    height: 40rem;
  }

  .other_images .image_container {
    height: 8rem;
  }
}

@media screen and (width <= 399px) {
  .other_images {
    gap: 1rem;
  }

  .other_images .image_container {
    height: 6rem;
  }
}
