:root {
  --primary-purple: #9b5b7d;
  --secondary-purple: #e2d0d6;
  --tertiary-purple: #8b4869;
  --dark-purple: #ad8e95;
  --background: #fbfbfb;
  --gray: #6d6d6d;
  --light-gray: #b6b6b6;
  --white: #f8f8f8;
}
