@import '../variables.css';

.products_list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 4rem;
}

.card {
  width: calc((100% - 12rem) / 4);
  height: 40rem;
  border-radius: 5px;
  background-color: var(--secondary-purple);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
  transition: ease-in-out 0.3s;
}

.card:hover {
  scale: 1.03;
}

.card .image_container {
  width: 100%;
  height: 20rem;
  border-radius: 5px;
}

.card .title {
  font-size: 2.4rem;
  font-weight: 600;
}

.card .description {
  font-size: 1.4rem;
  text-align: center;
}

.card .price {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
}

.card .primary_button {
  width: 100%;
  height: 8rem;
  font-size: 1.6rem;
}

@media screen and (width <= 450px) {
  .card {
    width: 100%;
  }
}
@media screen and (451px <= width <= 599px) {
  .card {
    width: calc((100% - 4rem) / 2);
  }
}
@media screen and (600px <= width <= 799px) {
  .card {
    width: calc((100% - 8rem) / 3);
  }
}
