<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/global.css">
  <link rel="stylesheet" href="../style/reset.css">
  <link rel="stylesheet" href="../style/product.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../assets/light_logo.svg" type="image/x-icon">
  <title>Produto - Dos Anjos</title>
</head>

<body>
  <header>
    <div class="logo_container">
      <a href="../index.html">
        <img id="logo" src="../assets/logo_branco.svg" alt="Logo">
      </a>
    </div>
    <input type="text" placeholder="O que você está procurando?" name="search_input" id="search_input">
    <div class="buttons_container">
      <a href="#"><img src="../assets/account.svg" alt="Conta"> </a>
      <a href="#"><img src="../assets/icon_cart.svg" alt="Conta"></a>
    </div>
  </header>
  <main>
    <div class="product_info">
      <aside class="other_images">
        <div class="image_container img1">
          <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo">
        </div>
        <div class="image_container img2">
          <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo">
        </div>
        <div class="image_container img3">
          <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo">
        </div>
        <div class="image_container img4">
          <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo">
        </div>
        <div class="image_container img5">
          <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo">
        </div>
      </aside>
      <div class="main_image">
        <div class="image_container">
          <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo">
        </div>
      </div>
      <div class="infos">
        <div class="brand_info">
          <h2>Salto Fino - Verde</h2>
          <h3>Vizzano</h3>
        </div>
        <div class="avaliacao">
          <h2>Avaliação:</h2>
          <div class="stars">
            <div class="star colored"></div>
            <div class="star colored"></div>
            <div class="star colored"></div>
            <div class="star colored"></div>
            <div class="star"></div>
          </div>
        </div>
        <div class="descricao">
          <h2>Descrição:</h2>
          <p>
            Sapato Vizano verde fechado, de bico fino, solado marrom, com 10 centímetros de salto. Ideal para
            ocasiões especiais.
          </p>
        </div>
        <h2>Tamanho:</h2>
        <div class="sizes">
          <div class="size"><span>34</span></div>
          <div class="size"><span>35</span></div>
          <div class="size"><span>36</span></div>
          <div class="size"><span>37</span></div>
          <div class="size"><span>38</span></div>
          <div class="size"><span>39</span></div>
          <div class="size"><span>40</span></div>
        </div>

        <h1>R$ 119,00</h1>
        <div class="cep_container">
          <h3>Calcule o frete:</h3>
          <div class="submit_container">
            <input type="text" maxlength="9" name="CEP" id="CEP" placeholder="Digite seu cep">
            <button>Buscar</button>
          </div>
        </div>

        <button class="primary_button">
          Adicionar ao carrinho
          <img src="../assets/icon_cart.svg" alt="Carrinho">
        </button>
      </div>
    </div>
    <div class="other_products">
      <h2>Recomendados para você:</h2>
      <div class="products_list">
        <div class="card">
          <div class="image_container">
            <img src="../assets/sapato_vermelh.webp" alt="Sapato vermelho">
          </div>
          <h3 class="title">Vizzano Vermelho</h3>
          <span class="description">
            Calçado vermelho Vizzano elegante
          </span>
          <span class="price">R$ 119,00</span>
          <a class="primary_button" href="./product.html">Adicionar ao carrinho</a>
        </div>

        <div class="card" >
          <div class="image_container">
            <img src="../assets/tamanco_verde.webp" alt="Sapato">
          </div>
          <h3 class="title">Tamanco Verde</h3>
          <span class="description">
            Tamanco verde limão almofadado
          </span>
          <span class="price">R$ 120,00</span>
          <a class="primary_button" href="./product.html">Adicionar ao carrinho</a>
        </div>

        <div class="card">
          <div class="image_container">
            <img src="../assets/sapato_branco.webp" alt="Sapato branco">
          </div>
          <h3 class="title">Laço Branco</h3>
          <span class="description">
            Sapatilha confortável com laço branco na ponta
          </span>
          <span class="price">R$ 81,50</span>
          <a class="primary_button" href="./product.html">Adicionar ao carrinho</a>
        </div>

        <div class="card">
          <div class="image_container">
            <img src="../assets/sapatilha_preta.webp" alt="Sapato preto">
          </div>
          <h3 class="title">Sapatilha Preta</h3>
          <span class="description">
            Sapatilha preta confortável Moleca
          </span>
          <span class="price">R$ 79,90</span>
          <a class="primary_button" href="./product.html">Adicionar ao carrinho</a>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="rights_container">
      <img src="../assets/light_logo.png" alt="Logo">
      <span> © 2022 - Dos Anjos. All rights reserved </span>
    </div>
    <div class="rights_container">
      <img src="../assets/github_icon.svg" alt="Github">
      <a href="https://github.com/yagomouro/dos-anjos-website/">Dos Anjos Website</a>
    </div>
  </footer>
</body>

</html>