<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/global.css" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../assets/favicon.png"
      type="image/x-icon"
    />
    <title>Produto - Dos Anjos</title>
  </head>
  <body>
    <header>
      <div class="logo_container">
        <a href="../index.html">
          <img id="logo" src="../assets/logo.png" alt="Logo" />
        </a>
      </div>
      <input
        type="text"
        placeholder="O que você está procurando?"
        name="search_input"
        id="search_input"
      />
    </header>
    <main></main>
    <footer>
      <div class="rights_container">
        <img src="../assets/light_logo.png" alt="Logo" />
        <span> © 2022 - Dos Anjos. All rights reserved </span>
      </div>
    </footer>
  </body>
</html>
