<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/global.css" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/product.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="../assets/favicon.png"
      type="image/x-icon"
    />
    <title>Produto - Dos Anjos</title>
  </head>
  <body>
    <header>
      <div class="logo_container">
        <a href="../index.html">
          <img id="logo" src="../assets/logo.png" alt="Logo" />
        </a>
      </div>
      <input
        type="text"
        placeholder="O que você está procurando?"
        name="search_input"
        id="search_input"
      />
    </header>
    <main>
      <div class="product_info">
        <aside class="other_images">
          <div class="image_container img1">
            <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo" />
          </div>
          <div class="image_container img2">
            <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo" />
          </div>
          <div class="image_container img3">
            <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo" />
          </div>
          <div class="image_container img4">
            <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo" />
          </div>
          <div class="image_container img5">
            <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo" />
          </div>
        </aside>
        <div class="main_image">
          <div class="image_container">
            <img src="../assets/sapato_amarelo.webp" alt="Sapato amarelo" />
          </div>
        </div>
        <div class="infos">
          <h2>Modelo - Cor</h2>
          <div class="avaliacao">
            <h2>Avaliação:</h2>
            <div class="stars">
              <div class="star colored"></div>
              <div class="star colored"></div>
              <div class="star colored"></div>
              <div class="star colored"></div>
              <div class="star"></div>
            </div>
          </div>
          <div class="descricao">
            <h2>Descrição:</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Similique, pariatur deleniti odio ipsa adipisci, fugiat ullam quia
              repudiandae minus ex quidem eaque dolorum enim consequuntur nihil
              ipsam animi expedita.
            </p>
          </div>
          <h2>Tamanho:</h2>
          <div class="tamanhos">
            <div class="tamanho"><span>35-36</span></div>
            <div class="tamanho"><span>35-36</span></div>
            <div class="tamanho"><span>35-36</span></div>
            <div class="tamanho"><span>35-36</span></div>
            <div class="tamanho"><span>35-36</span></div>
            <div class="tamanho"><span>35-36</span></div>
          </div>
          <button class="primary_button">
            Adicionar ao carrinho
            <img src="../assets/icon_cart.svg" alt="Carrinho" />
          </button>
        </div>
      </div>
      <div class="other_products">
        <h2>Recomendados para você:</h2>
        <div class="products_list">
          <div class="card">
            <div class="image_container">
              <img src="../assets/sapato_amarelo.webp" alt="Sapato" />
            </div>
            <h3 class="title">Calçado 1</h3>
            <span class="description">
              lorem ipsum dolor sit amet lorem ipsum dolor</span
            >
            <span class="price">R$ 00,00</span>
            <form class="product_form" action="./product.html" method="get">
              <input type="hidden" id="product1" name="product" value="1" />
              <button type="submit" class="primary_button">Compre já</button>
            </form>
          </div>
          <div class="card">
            <div class="image_container">
              <img src="../assets/sapato_amarelo.webp" alt="Sapato" />
            </div>
            <h3 class="title">Calçado 1</h3>
            <span class="description">
              lorem ipsum dolor sit amet lorem ipsum dolor</span
            >
            <span class="price">R$ 00,00</span>
            <form class="product_form" action="./product.html" method="get">
              <input type="hidden" id="product1" name="product" value="1" />
              <button type="submit" class="primary_button">Compre já</button>
            </form>
          </div>
          <div class="card">
            <div class="image_container">
              <img src="../assets/sapato_amarelo.webp" alt="Sapato" />
            </div>
            <h3 class="title">Calçado 1</h3>
            <span class="description">
              lorem ipsum dolor sit amet lorem ipsum dolor</span
            >
            <span class="price">R$ 00,00</span>
            <form class="product_form" action="./product.html" method="get">
              <input type="hidden" id="product1" name="product" value="1" />
              <button type="submit" class="primary_button">Compre já</button>
            </form>
          </div>
          <div class="card">
            <div class="image_container">
              <img src="../assets/sapato_amarelo.webp" alt="Sapato" />
            </div>
            <h3 class="title">Calçado 1</h3>
            <span class="description">
              lorem ipsum dolor sit amet lorem ipsum dolor</span
            >
            <span class="price">R$ 00,00</span>
            <form class="product_form" action="./product.html" method="get">
              <input type="hidden" id="product1" name="product" value="1" />
              <button type="submit" class="primary_button">Compre já</button>
            </form>
          </div>
          <div class="card">
            <div class="image_container">
              <img src="../assets/sapato_amarelo.webp" alt="Sapato" />
            </div>
            <h3 class="title">Calçado 1</h3>
            <span class="description">
              lorem ipsum dolor sit amet lorem ipsum dolor</span
            >
            <span class="price">R$ 00,00</span>
            <form class="product_form" action="./product.html" method="get">
              <input type="hidden" id="product1" name="product" value="1" />
              <button type="submit" class="primary_button">Compre já</button>
            </form>
          </div>
          <div class="card">
            <div class="image_container">
              <img src="../assets/sapato_amarelo.webp" alt="Sapato" />
            </div>
            <h3 class="title">Calçado 1</h3>
            <span class="description">
              lorem ipsum dolor sit amet lorem ipsum dolor</span
            >
            <span class="price">R$ 00,00</span>
            <form class="product_form" action="./product.html" method="get">
              <input type="hidden" id="product1" name="product" value="1" />
              <button type="submit" class="primary_button">Compre já</button>
            </form>
          </div>
          <div class="card">
            <div class="image_container">
              <img src="../assets/sapato_amarelo.webp" alt="Sapato" />
            </div>
            <h3 class="title">Calçado 1</h3>
            <span class="description">
              lorem ipsum dolor sit amet lorem ipsum dolor</span
            >
            <span class="price">R$ 00,00</span>
            <form class="product_form" action="./product.html" method="get">
              <input type="hidden" id="product1" name="product" value="1" />
              <button type="submit" class="primary_button">Compre já</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="rights_container">
        <img src="../assets/light_logo.png" alt="Logo" />
        <span> © 2022 - Dos Anjos. All rights reserved </span>
      </div>
    </footer>
  </body>
</html>
